---
export interface Props {
  title?: string;
	description?: string;
	canonical?: string;
	nofollow?: boolean;
	noindex?: boolean;
	openGraph?: {
		title: string;
		type: string;
		image: string;
		url: string;
	}
}

const { 
	title,
	description,
	canoncial,
	noindex,
	nofollow,
	openGraph
} = Astro.props
---

{ title && <title>{title}</title> }

{ canoncial && (
	<link 
		rel="canonical"
		href={canonical} 
	/>
)}

{ description && (
	<meta
  	name="description"
  	content={description}
  />
)}

<meta 
	name="robots"
	contents={`
		${noindex ? 'noindex' : 'index'},${nofollow ? 'nofollow' : 'follow'}
	`}
/>

<!-- OpenGraph -->
{ openGraph && (
	<meta property="og:title" content={openGraph.title} />
	<meta property="og:type" content={openGraph.type} />
	<meta property="og:image" content={openGraph.image}/>
	<meta property="og:url" content={openGraph.url}/>
)}
